@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 355 65% 19%;
    /* burgundy-900 */
  }
}

@layer base {
  body {
    @apply bg-cream-50 text-burgundy-900 border-burgundy-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

html {
  scroll-behavior: smooth;
}